.maindiv{
    

    margin-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    width: 710px;
    justify-content: center;
    height: 128px;
    display: flex
;
    flex-shrink: 0;
    border-radius: 7px;
    background: #ffffff;

}
.textwhats{
    border-radius: 31px;
background: #F0F2F5;
width: 617px;
height: 40px;
flex-shrink: 0;
}
.jennytext{
    
    margin-left: 20px;
    margin-top: 12px;
    color: #65676B;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.displayjenny{

    gap: 20px;
    justify-content: center;
    display: flex
;
}
hr {
  width: 90%;         /* how long the line is */
  height: 1px;        /* how thin it is */
  background-color: #ccc;  /* line color */
     /* remove default border */

}
.livetext{
    color: #65676B;
font-family: Arial;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.displayjenny2{
    display: flex;
    gap: 10px;
}
.displayjenny3{
     display: flex;
    gap: 100px;
    justify-content: center;
}
.imgjenny{
    width: 40px;
height: 40px;
flex-shrink: 0;
}