.leftboxhome{
  width: 345px;
  height: 1658px;
  flex-shrink: 0;
  background-color: #f5f5f5; /* light gray background */
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  position: fixed; /* keeps it on the left side */
  top: 0;
  left: 0;
  background: #5e1414;
  
}
.watchtext{
      margin-left: 20px;
    margin-top: 7px;
    color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.imgwqatch{
    display: flex;
}
.watchiomgsize{
 
    width: 73px;
    height: 67px;
}

h1,h2,p{
   padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
   }